# Configs / database
*.motd
*.sqlite
*.init
*.conf
magicked_admin/conf/

# Coverage reports
.coverage

# Builds
bin/

# Python caches
__pycache__/
*.py[cod]
*$py.class

# Editor files
.*.swp
.*.swo
.idea/
