# Configs / database
*.motd
*.sqlite
*.init
*.conf
magicked_admin/conf/

# Builds / compiled locale files
docs/_build/
bin/
*.mo

# Python
venv/
__pycache__/
*.py[cod]
*$py.class

# Editor files
.*.swp
.*.swo
.idea/
.vscode/
