[server_one]
address = x.x.x.x:p
username = username
password = password

clan_motto = kf.znel.org:23000     ::     173.199.74.63:23000     ::     United Kingdom
web_link = http://znel.org/kf

[some_other_server]
address = x.x.x.x:p
username = username
password = password

clan_motto = Some clan motto
web_link =  https://google.com 

