# Magicked Admin
requests
lxml==4.5.2
lupa==1.9
jinja2==2.11.2
certifi==2020.6.20
babel==2.8.0
getch; sys_platform != 'win32'

# GUI
pyside2

# Development
isort
flake8
pytest>=3.6
pytest-cov

# Build
cx_freeze==6.2
