// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #111 !default;
$header-subheading-color: #fff !default;
$header-bg-color: #e11 !default;
$header-bg-color-secondary: #111 !default;

// Text
$section-headings-color: #cd0d0d !default;
$body-text-color: #444 !default;
$body-link-color: #1e6bb8 !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f9f3f2 !default;
$code-text-color: #603f3f !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;
