kf.znel.org:2300     ::     173.199.74.63:23000     ::     United Kingdom

Welcome to our server. To benefit from the server's increased tick rate its required that you raise your client's tick rate.

Top Players (total dosh):
1. %PLR [%SCR]		2. %PLR [%SCR]		3. %PLR [%SCR] 
4. %PLR [%SCR]		5. %PLR [%SCR]		6. %PLR [%SCR] 
7. %PLR [%SCR]		8. %PLR [%SCR]		9. %PLR [%SCR]

Have fun and good luck!

